# **Create, Load and Query a Dataset on a SQL Database**

# Loading necessary packages and changing working directory

- The working direcory is where the dataset is stored

In [51]:
import os
os.chdir('C:/Users/luisp/Desktop/Biz/Datasets portefolio')

import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

# Loading the CSV file using Pandas and showing the first 5 rows

In [54]:
df= pd.read_csv('data.csv', header=0)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

# Creating a connection object to the SQL Database

In [55]:
conn= sqlite3.connect('portefolio_database.db')

# Loading the dataset to the Database

In [56]:
df.to_sql('ecom_data', con=conn, if_exists='replace', index=False)
conn.close()

# Connecting to the SQL Database using the SQLite3 magic function

In [57]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql sqlite:///portefolio_database.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Selecting all the data from the ecom_data table

In [58]:
%sql "SELECT * FROM ecom_data LIMIT 5"

 * sqlite:///portefolio_database.db
Done.

[('536365', '85123A', 'WHITE HANGING HEART T-LIGHT HOLDER', 6, '12/1/2010 8:26', 2.55, 17850.0, 'United Kingdom'),
 ('536365', '71053', 'WHITE METAL LANTERN', 6, '12/1/2010 8:26', 3.39, 17850.0, 'United Kingdom'),
 ('536365', '84406B', 'CREAM CUPID HEARTS COAT HANGER', 8, '12/1/2010 8:26', 2.75, 17850.0, 'United Kingdom'),
 ('536365', '84029G', 'KNITTED UNION FLAG HOT WATER BOTTLE', 6, '12/1/2010 8:26', 3.39, 17850.0, 'United Kingdom'),
 ('536365', '84029E', 'RED WOOLLY HOTTIE WHITE HEART.', 6, '12/1/2010 8:26', 3.39, 17850.0, 'United Kingdom')]

# Selecting all the data from the StockCode column of the ecom_data

In [59]:
%sql "SELECT StockCode FROM ecom_data LIMIT 5"

 * sqlite:///portefolio_database.db
Done.

[('85123A',), ('71053',), ('84406B',), ('84029G',), ('84029E',)]

# Selecting all the items ordered from the table where the quantity ordered is greater than 6

In [60]:
%sql "SELECT * FROM ecom_data WHERE Quantity > 6 LIMIT 5"

 * sqlite:///portefolio_database.db
Done.

[('536365', '84406B', 'CREAM CUPID HEARTS COAT HANGER', 8, '12/1/2010 8:26', 2.75, 17850.0, 'United Kingdom'),
 ('536367', '84879', 'ASSORTED COLOUR BIRD ORNAMENT', 32, '12/1/2010 8:34', 1.69, 13047.0, 'United Kingdom'),
 ('536367', '22749', 'FELTCRAFT PRINCESS CHARLOTTE DOLL', 8, '12/1/2010 8:34', 3.75, 13047.0, 'United Kingdom'),
 ('536370', '22728', 'ALARM CLOCK BAKELIKE PINK', 24, '12/1/2010 8:45', 3.75, 12583.0, 'France'),
 ('536370', '22727', 'ALARM CLOCK BAKELIKE RED ', 24, '12/1/2010 8:45', 3.75, 12583.0, 'France')]

# Selecting all the orders from 2011 with a quantity of all the items bigger than 6

In [66]:
%sql "SELECT * FROM ecom_data WHERE Quantity > 6 AND InvoiceDate LIKE '%2011%%' LIMIT 5"

 * sqlite:///portefolio_database.db
Done.

[('539993', '22386', 'JUMBO BAG PINK POLKADOT', 10, '1/4/2011 10:00', 1.95, 13313.0, 'United Kingdom'),
 ('539993', '21499', 'BLUE POLKADOT WRAP', 25, '1/4/2011 10:00', 0.42, 13313.0, 'United Kingdom'),
 ('539993', '21498', 'RED RETROSPOT WRAP ', 25, '1/4/2011 10:00', 0.42, 13313.0, 'United Kingdom'),
 ('539993', '20718', 'RED RETROSPOT SHOPPER BAG', 10, '1/4/2011 10:00', 1.25, 13313.0, 'United Kingdom'),
 ('539993', '85099B', 'JUMBO BAG RED RETROSPOT', 10, '1/4/2011 10:00', 1.95, 13313.0, 'United Kingdom')]

# Showing the total price of each unique order

In [73]:
%sql "SELECT InvoiceNo, SUM(ROUND(Quantity*UnitPrice, 2)) AS TotalPrice FROM ecom_data GROUP BY InvoiceNo LIMIT 5"

 * sqlite:///portefolio_database.db
Done.

[('536365', 139.12),
 ('536366', 22.2),
 ('536367', 278.73),
 ('536368', 70.05),
 ('536369', 17.85)]

# Showing how many orders were placed in each country

In [76]:
%sql "SELECT Country, COUNT(DISTINCT(InvoiceNo)) AS total_orders FROM ecom_data GROUP BY Country"

 * sqlite:///portefolio_database.db
Done.

[('Australia', 69),
 ('Austria', 19),
 ('Bahrain', 4),
 ('Belgium', 119),
 ('Brazil', 1),
 ('Canada', 6),
 ('Channel Islands', 33),
 ('Cyprus', 20),
 ('Czech Republic', 5),
 ('Denmark', 21),
 ('EIRE', 360),
 ('European Community', 5),
 ('Finland', 48),
 ('France', 461),
 ('Germany', 603),
 ('Greece', 6),
 ('Hong Kong', 15),
 ('Iceland', 7),
 ('Israel', 9),
 ('Italy', 55),
 ('Japan', 28),
 ('Lebanon', 1),
 ('Lithuania', 4),
 ('Malta', 10),
 ('Netherlands', 101),
 ('Norway', 40),
 ('Poland', 24),
 ('Portugal', 71),
 ('RSA', 1),
 ('Saudi Arabia', 2),
 ('Singapore', 10),
 ('Spain', 105),
 ('Sweden', 46),
 ('Switzerland', 74),
 ('USA', 7),
 ('United Arab Emirates', 3),
 ('United Kingdom', 23494),
 ('Unspecified', 13)]

# Showing the total quantity sold of the top ten items

In [77]:
%sql "SELECT Description, SUM(Quantity) AS total_quantity_sold FROM ecom_data GROUP BY Description ORDER BY total_quantity_sold DESC LIMIT 10"

 * sqlite:///portefolio_database.db
Done.

[('WORLD WAR 2 GLIDERS ASSTD DESIGNS', 53847),
 ('JUMBO BAG RED RETROSPOT', 47363),
 ('ASSORTED COLOUR BIRD ORNAMENT', 36381),
 ('POPCORN HOLDER', 36334),
 ('PACK OF 72 RETROSPOT CAKE CASES', 36039),
 ('WHITE HANGING HEART T-LIGHT HOLDER', 35317),
 ('RABBIT NIGHT LIGHT', 30680),
 ('MINI PAINT SET VINTAGE ', 26437),
 ('PACK OF 12 LONDON TISSUES ', 26315),
 ('PACK OF 60 PINK PAISLEY CAKE CASES', 24753)]